<html>  
  <head></head>

  <body>
    <h1>{{title}}</h1>

    <div>
    <form *ngIf="showForm">
      <input type="text" name="nombre" [(ngModel)]="form.nombre" >
      <input type="email" name="email" [(ngModel)]="form.email">
      <input type="text" name="edad" [(ngModel)]="form.edad">

      <input type="submit" name="submit" (click)="miEvento($event, form)">


      <ul>
        <li *ngFor="let item of datos; let i = index; let f = first; let l = last">
           {{ i }} <!-- Indice -->
           {{"Nombre: "+ item.nombre}} <!-- Nombre -->
           {{" - "+ item.edad+" - "+ item.email}} <!-- EMail y Edad-->
           <br>
           {{ "PRIMER INDICE?: "+ f }} <!-- Indice -->
           <br>
           {{ "ULTIMO INDICE?: "+ l }} <!-- Indice -->
           <br><br>
        </li>
      </ul>


    </form>  
    </div>

  </body>

</html>
